<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Autor</title>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="title">
                <h1>Detalhes do Autor</h1>
                <h1>Livros do Autor</h1>
            </div>
        </header>

        <main class="register-container">
            <div class="dados">
                <b>ID do autor: </b> 
                <span th:text="${autor.id}"></span><br>

                <b>Nome: </b> 
                <span th:text="${autor.nome}"></span><br>

                <b>Idade: </b> 
                <span th:text="${autor.idade}"></span><br>

                <b>Nacionalidade: </b> 
                <span th:text="${autor.nacionalidade}"></span><br>

                <b>Ocupação: </b> 
                <span th:text="${autor.ocupacao}"></span><br>
                <br>
                <td><a th:href="@{'/autor/edit/' + ${autor?.id} }">Editar</a></td><br>

                <form th:action="@{/autor/associar(idAutor=${autor.id})}" method="POST">
                    <span>Associar livros: </span>
                    <select name="id" required>
                        <option value="">Escolha o livro</option>
                        <option th:each="livros:${livros}"
                                    th:value="${livros.id}"
                                    th:text="${livros.nome}">
                        </option>
                    </select>
                    <input type="submit" value="Associar" />
                </form>
            </div>
        </main>

        <aside class="tableContainer">
            <table width="625px">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Edicao</th>
                        <th>Quantidade de Pág.</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                    <tr th:each="livros:${autor.livros}">
                        <td th:text="${livros?.id}"/>
                        <td th:text="${livros?.nome}"/>
                        <td th:text="${livros?.edicao}"/>
                        <td th:text="${livros?.qtdPag}"/>
                        <td th:text="${livros?.categoria}"/>
                    </tr>
            </table>
        </aside>

        <footer>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Menu</a>
                <a href="/autor">Autor</a>
                <a href="/livro">Livro</a>
                <a href="/editora">Editora</a>
              </div>
              
              <div id="main">
                <button class="openbtn" onclick="openNav()">&#9776; Navegação entre páginas</button>
              </div>

            <div class="alert">

            </div>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            }

            /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
            function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }
    </script>
</body>
</html>